body{
    margin: 0;
    padding: none;
}
.menu_icon{
    display: none;
}

.headline_section {
    background-image: url('first.png');
    background-repeat: no-repeat;
    height: 720px;
    border-radius: 0px;
    background-size: cover;
}

main .main_section{
    height: 720px;
}

main .about_culture {
    background-image: url('second.png');
    height: 688px;
    background-repeat: no-repeat;
    border-radius: 0px;
    background-size: cover;
}





